<launch>
    <!-- 
        We create one instance of the node for each robot. We pass in the robot name and number as arguments (note the space between and no `_`),
        so that they will publish to the correct wheel topics.
    -->
    <node pkg="templates" type="template_node" name="hauler_example"    ns="/capricorn/hauler_1"    args="hauler_1"    output="screen" />
    <node pkg="templates" type="template_node" name="excavator_example" ns="/capricorn/excavator_1" args="excavator_1" output="screen" />
</launch>