<!--
  Author: Mahimana Bhatt
  Email: mbhatt@wpi.edu

  Team Capricorn
  NASA SPACE ROBOTICS CHALLENGE -->

<launch>
    <arg name="rviz" default="false" />
    <arg name="launch_stereo_proc" default="true" />
    <arg name="path_to_model" default='$(find perception)/model' /> 
    <arg name="path_to_labelmap" default='$(find perception)/model/saved_model.pbtxt' /> 

    <node if="$(arg launch_stereo_proc)" pkg="stereo_image_proc" ns="/small_scout_1/camera" output="log" type="stereo_image_proc" name="small_scout_1_stereo_image_proc" />	
    <node if="$(arg launch_stereo_proc)" pkg="stereo_image_proc" ns="/small_excavator_1/camera" output="log" type="stereo_image_proc" name="small_excavator_1stereo_image_proc" />	
    <node if="$(arg launch_stereo_proc)" pkg="stereo_image_proc" ns="/small_hauler_1/camera" output="log" type="stereo_image_proc" name="small_hauler_1_stereo_image_proc" />	

    <node name="three_object_detection" pkg="perception" type="three_object_detection.py" output="log" args="$(arg path_to_model) $(arg path_to_labelmap)" />

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find utils)/rviz/object_detection.rviz"/>
</launch>