<!--
  Author: Mahimana Bhatt
  Email: mbhatt@wpi.edu

  Team Capricorn
  NASA SPACE ROBOTICS CHALLENGE -->

<launch>
    <arg name="robot_name" default="small_scout_1" />
    <arg name="path_to_model" default='$(find perception)/model' /> 
    <arg name="path_to_labelmap" default='$(find perception)/model/saved_model.pbtxt' /> 

    <arg name="namespace" value="/$(arg robot_name)/camera" />

    <node pkg="stereo_image_proc" ns="$(arg namespace)" type="stereo_image_proc" name="stereo_image_proc" />	
    <node name="object_detection" pkg="perception" type="object_detection_cap.py" output="screen" args="$(arg robot_name) $(arg path_to_model) $(arg path_to_labelmap)" />
</launch>