<?xml version="1.0"?>
<!--
	Space Robotics Challenge Phase 2
	NASA-JSC
	Copyright (c) 2020, All Rights Reserved
	Unauthorized distribution strictly prohibited
-->

<!--
    @brief the small excavator for the SRCP2 final round
-->
<robot name="small_excavator" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="rover_name" default="small_excavator" />
    
    <!-- includes -->
    <xacro:include filename="../common/inertia_macros.xacro"/>
    <xacro:include filename="../small_basic/small_rover_chassis.xacro"/>
    <xacro:include filename="../small_basic/small_rover_drive.xacro"/>
    <xacro:include filename="../small_basic/small_rover_power.xacro"/>
    <xacro:include filename="arm.xacro"/>

    <!-- excavator hardware -->
    <xacro:small_rover_chassis rover_name="$(arg rover_name)"/>
    <xacro:small_rover_drive rover_name="$(arg rover_name)"/>
    <!-- <xacro:small_rover_power rover_name="$(arg rover_name)" rover_type="small_excavator"/> -->
    <xacro:arm chassis_name="$(arg rover_name)_small_chassis" rover_name="$(arg rover_name)"/>

    <!-- standard sensor package -->
    <xacro:include filename="../small_basic/small_rover_sensors.xacro"/> 
    <xacro:small_rover_camera_sensor rover_name="$(arg rover_name)"/>
    <xacro:small_rover_imu_sensor rover_name="$(arg rover_name)"/>
    <xacro:small_rover_lidar_sensor rover_name="$(arg rover_name)"/>

    <xacro:include filename="../small_basic/small_rover_sensors.gazebo"/> 

    <!-- includes: motors (drive, sensor and arm) -->
    <xacro:include filename="./motors.gazebo"/>

    <gazebo>
        <plugin name="joint_state_publisher" filename="libJointStatePublisher.so">
            <robotNamespace>$(arg rover_name)</robotNamespace>
            <jointName>
                    bl_wheel_joint,
                    br_wheel_joint,
                    fl_wheel_joint,
                    fr_wheel_joint,
                    bl_steering_arm_tibia_joint,
                    br_steering_arm_tibia_joint,
                    fl_steering_arm_tibia_joint,
                    fr_steering_arm_tibia_joint,
                    bl_steering_arm_shoulder_joint,
                    br_steering_arm_shoulder_joint,
                    fl_steering_arm_shoulder_joint,
                    fr_steering_arm_shoulder_joint,
                    sensor_bar_pitch_joint,
                    sensor_bar_yaw_joint,
                    shoulder_yaw_joint,
                    shoulder_pitch_joint,
                    elbow_pitch_joint,
                    wrist_pitch_joint,
                    spawning_zone_joint
            </jointName>
            <updateRate>15</updateRate>
            <alwaysOn>true</alwaysOn>
        </plugin>
    </gazebo>

</robot>

      