<launch>
    <!-- <arg name="robot_name" default="small_scout_1" /> -->

    <arg name="output" default="screen" />
    <arg name="use_cheat_odom" default="false" />
    <arg name="use_crab_drive" default="false" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /odom /map 100" />

    <include file="$(find state_machines)/launch/start_scout.launch">
        <arg name="robot_name" value="small_scout_1" />
        <arg name="output" value="$(arg output)" />
        <arg name="use_cheat_odom" value="$(arg use_cheat_odom)" />
        <arg name="use_crab_drive" value="$(arg use_crab_drive)" />
    </include>

    <include file="$(find state_machines)/launch/start_excavator.launch">
        <arg name="robot_name" value="small_excavator_1" />
        <arg name="output" value="$(arg output)" />
        <arg name="use_cheat_odom" value="$(arg use_cheat_odom)" />
        <arg name="use_crab_drive" value="$(arg use_crab_drive)" />
    </include>

    <include file="$(find state_machines)/launch/start_hauler.launch">
        <arg name="robot_name" value="small_hauler_1" />
        <arg name="output" value="$(arg output)" />
        <arg name="use_cheat_odom" value="$(arg use_cheat_odom)" />
        <arg name="use_crab_drive" value="$(arg use_crab_drive)" />
    </include>

    <!-- <node name="scheduler" pkg="team_level" type="scheduler" args="$(arg robot_name)" output="screen" /> -->
</launch>
