<launch>

    <include file="$(find perception)/launch/team_object_detection.launch">
        <arg name="team_number" value="1" />
    </include>

    <!-- <include file="$(find perception)/launch/team_object_detection.launch">
        <arg name="team_number" value="2" />
    </include> -->

</launch>
