<launch>
    <!-- <arg name="robot_name" default="small_scout_1" /> -->

    <arg name="output" default="screen" />
    <arg name="use_cheat_odom" default="false" />
    <arg name="use_crab_drive" default="false" />
    <arg name="rviz" default="true" />

    <include file="$(find team_level)/launch/all_object_detection.launch"/> 

    <include file="$(find team_level)/launch/all_robots.launch">
        <arg name="output" value="$(arg output)" />
        <arg name="use_cheat_odom" value="$(arg use_cheat_odom)" />
        <arg name="use_crab_drive" value="$(arg use_crab_drive)" />
    </include>
    
    <!-- <include file="$(find team_level)/launch/all_schedulers.launch"/>  -->

    <!-- <include file="$(find maploc)/launch/odom_comparison.launch"/>  -->
    
</launch>