<launch>

  <!-- Initialising parameters -->
  <arg name="robot_name" default="small_scout_1" />

    <include file="$(find operations)/launch/navigation.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

  <!-- Running Teleop -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
  <!-- Actionlib Client -->
  <node name="navigation_client" pkg="operations" type="navigation_client"  args="$(arg robot_name)" output="screen"/>

</launch>