<launch>

  <!-- Initialising parameters -->
  <arg name="robot_name" default="small_scout_1" /> 

  <!-- Running Teleop -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
  
  <!-- Actionlib Server -->
  <node name="navigation_actionlib_server" pkg="operations" type="navigation_actionlib_server"  args="$(arg robot_name)" output="screen"/>

  <!-- Actionlib Client -->
  <node name="navigation_client" pkg="operations" type="navigation_client"  args="$(arg robot_name)" output="screen"/>

</launch>