<launch>
    <arg name="robot_name" default="small_excavator_1" />
    <arg name="output" default="screen" />
    <arg name="use_cheat_odom" default="true" />
    <arg name="use_crab_drive" default="false" />
    <arg name="get_true_pose" default="true"/>
    <arg name="node_start_delay" default="5.0" /> 

    <include file="$(find operations)/launch/navigation.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="output" value="log" />
        <arg name="use_cheat_odom" value="$(arg use_cheat_odom)" />
        <arg name="use_crab_drive" value="$(arg use_crab_drive)" />
    </include>

    <include unless="$(arg use_cheat_odom)" file="$(find maploc)/launch/mapping.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="output" value="log" />
        <arg name="get_true_pose" value="$(arg get_true_pose)" />
        <arg name="node_start_delay" value="$(arg node_start_delay)" />
    </include>

    <group ns="/capricorn/$(arg robot_name)">        
        <node pkg="state_machines" type="start_excavator_sm_server" name="scout_1_sm" args="$(arg robot_name)" output="screen" />
        <node name="navigation_vision_server" pkg="operations" type="navigation_vision_server" args="$(arg robot_name)" output="screen"/>
        <node pkg="operations" type="excavator_pid_node" name="excavator_pid_node" args="$(arg robot_name)" output="screen" />
        <node pkg="operations" type="excavator_actionlib_server" name="excavator_actionlib_server" args="$(arg robot_name)" output="screen" />
    </group>
</launch>