<launch>
    <arg name="robot_name" default="small_scout" />
    <arg name="robot_number" default="1" />

    <include file="$(find operations)/launch/wheel_controller.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="robot_number" value="$(arg robot_number)" />
    </include>

    <node name="publish_cheat_odom" pkg="maploc" type="publish_cheat_odom" args="$(arg robot_name)_$(arg robot_number)" />

    <node name="navigation_actionlib_server" pkg="operations" type="navigation_actionlib_server" args="$(arg robot_name)_$(arg robot_number)" output="screen"/>
    <node name="navigation_client" pkg="operations" type="navigation_client" args="$(arg robot_name)_$(arg robot_number)" output="screen" />
    <node name="wheel_speed_processing" pkg="operations" type="wheel_speed_processing" args="$(arg robot_name)_$(arg robot_number)" />
</launch>