<launch>
    <arg name="robot_name" default="small_scout_1" />

    <include file="$(find operations)/launch/navigation.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="output" value="screen" />
    </include>

    <node name="navigation_client" pkg="operations" type="navigation_client" args="$(arg robot_name)" output="screen" />
</launch>