<launch>
    <arg name="robot_name" default="small_scout_1" />

    <group ns="/capricorn/$(arg robot_name)">      
        <include file="$(find operations)/launch/navigation.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="output" value="screen" />
            <arg name="use_cheat_odom" value="false" />
            <arg name="use_crab_drive" value="false" />
        </include>
    </group>

    <!-- <node name="navigation_client" pkg="operations" type="navigation_client" args="$(arg robot_name)" output="screen" /> -->
</launch>