<launch>
    <arg name="robot_name" default="small_scout_1" />
    <arg name="output" default="screen" />

    <!-- <include file="$(find operations)/launch/wheel_controller.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include> -->

    <group ns="/capricorn/$(arg robot_name)">
        <node name="publish_cheat_odom" pkg="maploc" type="publish_cheat_odom" args="$(arg robot_name)" />
        <node name="start_nav_server" pkg="operations" type="start_nav_server" args="$(arg robot_name)" output="$(arg output)"/>
        <node name="wheel_speed_processing" pkg="operations" type="wheel_speed_processing" args="$(arg robot_name)" />
        <node name="spiral_motion" pkg="operations" type="spiral_server" args="$(arg robot_name)" />
    </group>
</launch>