<!--
  Author: Mahimana Bhatt
  Email: mbhatt@wpi.edu

  Team Capricorn
  NASA SPACE ROBOTICS CHALLENGE -->

 <!-- This launch file is used to launch the rtabmap, nodes publish cheat odom, odom error to publish error and reset the rtabmap pose from the ground truth to gazebo-->
<launch>

    <arg name="robot_name" default="small_scout_1" />
    <arg name="node_start_delay" default="5.0" /> 

    <include file="$(find maploc)/launch/rtabmap.launch" >
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="use_rtabmap" value="true"/>
    </include>
    
    <!--<node name="publish_cheat_odom" pkg="maploc" type="publish_cheat_odom" output="screen" args="$(arg robot_name)" />
    <node name="odom_error" pkg="maploc" type="odom_error" output="screen" args="$(arg robot_name)  /$(arg robot_name)/camera/odom" />-->

    <!-- The node "initialize_rtabmap" is launhed with a delay of $node_start_delay, as it takes some time for the client to become available, without delay the execution sometimes get stuck at "Rtabmap client loaded" -->
    <node name="initialize_rtabmap" pkg="maploc" type="initialize_rtabmap" output="screen" args="$(arg robot_name)" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

</launch>