<!--
  Author: Mahimana Bhatt
  Email: mbhatt@wpi.edu

  Team Capricorn
  NASA SPACE ROBOTICS CHALLENGE -->

<launch>
    <arg name="robot_name" default="small_scout_1" />

    <!-- Run the ROS package stereo_image_proc -->
    <group ns="/$(arg robot_name)/camera">
        <!-- To get camera info, the stereo_image_proc node must run within the /robot/camera namespace, or there needs to be a LOT of remapping. -->
        <node pkg="stereo_image_proc" type="stereo_image_proc" ns="/$(arg robot_name)/camera" name="stereo_image_proc" />

        <!-- Odometry -->
        <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry">
            <param name="frame_id" type="string" value="$(arg robot_name)_base_footprint"/>
            <param name="approx_sync" type="bool" value="true"/>
            <param name="queue_size" type="int" value="5"/>
	    	<param name="odom_frame_id" type="string" value="odom"/>
            <param name="publish_tf"  type="bool"   value="true"/>
        
            <param name="Vis/MinInliers" value="12"/>
            <param name="Vis/RoiRatios"  value="0.03 0.03 0.04 0.04"/> 
			<param name="Odom/Strategy" value="1"/>   <!-- Frame-to-Frame -->
			<param name="Stereo/MaxDisparity" value="256.0"/>
			<param name="Odom/ResetCountdown" value="1"/>
	
			<remap from="/odom" to="capricorn/$(arg robot_name)/odom/stereo_odom"/>
   	<!--    <remap from="odom" to="/$(arg robot_name)/stereo_odom" /> -->
        </node>     
    </group>

</launch>