<launch>
  <arg name="robot_name" default="small_scout_1" />
  <arg name="output" default="screen" />


  <group ns="/capricorn/$(arg robot_name)">
        <node name="path_planner_server" pkg="planning" type="planning_node" args="$(arg robot_name)" output="$(arg output)" respawn="true" />
  </group>

</launch>