<launch>
  <arg name="robot_name" default="small_scout_1" />
  <arg name="output" default="screen" />


  <group ns="/capricorn/$(arg robot_name)">
        <node name="$(arg robot_name)_path_planner_server" pkg="planning" type="planning_node" args="$(arg robot_name)" output="$(arg output)" />
  </group>

</launch>