<launch>
  <arg name="robot_name" default="small_scout_1" />
  <arg name="output" default="screen" />


  <group ns="/capricorn/$(arg robot_name)">
        <node name="path_planner_server" pkg="planning" type="planning_node" args="$(arg robot_name)" output="$(arg output)" />
        <node name="dynamic_planning_node" pkg="planning" type="dynamic_planning_node" args="$(arg robot_name)" output="$(arg output)" />
        <node name="cspace_py" pkg="planning" type="cspace_py.py" args="$(arg robot_name)" output="$(arg output)" />
  </group>

  
       
 

</launch>